.toolContainer {
    height: auto;
    display:grid;
    float: right;
    background-color: transparent;
}

.tool {
    width: fit-content;
    flex: none;
    margin: 0px 2px 0px 0px;
    padding: 1px 5px 1px 5px;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
}

.tool:hover {
    border: 1px;
    border-radius: 2px; 
    border-color: black;
    border-style: solid;
    padding: 0px 5px 0px 5px;
}

.tool  img {
    width: 16px;
    height: 16px;
}

.dropDownMenuContainer {
    margin-top: 25px;
    position: absolute;
    min-width: 150px;
    background-color: silver;
    display: none;
}

.dropMenuRightAligned {
    justify-items: right;
}

.dropMenuLeftAligned {
    justify-items: left;
}

.toolContainer:hover .dropDownMenuContainer {
    display: block;
}