.formContainer {
    background-color: white;
    height: 100%;
    width: 100%;
    min-width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.formHeader {
    background-color: silver;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

.formBody {
    height: 100%;
    width: 100%;
}

.formFooter {
    background-color: silver;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: right;
}

.submitAction {
    float: left;
    min-width: 75px;
}