.dialogHost {
    height: 100%;
}

.dialogContainer {
    min-height: 100%;
    background: #80808080;
    position: absolute;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    border: px 2px 0px 0x;

}